  html, body {
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: Grobold;
    src: url('../fonts/GROBOLD.ttf');
    font-family: SuperMario;
    src: url('../fonts/SuperMario.ttf');
  }

  body {
    font-family: SuperMario, Grobold, Verdana;
    background-image: url('../img/bg-bar2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  button {
    background: #e5742c;
    border: 5px solid #d06d27;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 1px 2px 3px #a04d12;
  }

  div.inline {
    display: inline-block;
    width: 47%;
  }

  div.inline h1 {
    text-align: left;
    color: #813401;
    margin-left: 90px;
  }

  .container {
    text-align: center;
  }

  #container-game {
    border: 10px solid #FFF;
    background-color: #FFF;
    margin: 30px auto;
    padding: 50px 60px;
    height: 400px;
    width: 930px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #2b2b2b;
  }

  .bg2 {
    background-image: url('../img/bar2.png');
    background-size: contain;
    background-repeat: round;
    height: 72px;
    position: relative;
    top: -37px;
  }

  .space1, .space2, .space4 {
    height: 27px;
  }

  .space3 {
    height: 29px;
  }

  .disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }

  .hidden {
    background: #000 !important;
  }

  .barman {
    background-image: url('../img/barman-ok.jpg');
    background-size: cover;
    height: 93px;
    width: 50px;
    position: absolute;
  }

  .beer {
    background-image: url('../img/beer-full.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 20px;
    position: absolute;
  }

  .beer.crash {
    background-image: url('../img/crash-beer.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 87px;
    width: 50px;
    position: absolute;
  }

  .client {
    background-image: url('../img/barney-no-beer.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 107px;
    width: 59px;
    position: absolute;
  }

  .client.hasbeer {
    background-image: url('../img/barney-has-beer2.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 87px;
    width: 62px;
    margin-top: 18px;
    position: absolute;
  }

  .client.client-crash {
    background-image: url('../img/partner-wtf.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 87px;
    width: 85px;
    margin: -24px -39px;
    position: absolute;
  }

  /*.row {
    border: 1px solid green;
    height: calc(100% / 4);
    width: 100%;
  }*/

  /*.row div {
    display: inline-block;
    border: 1px solid green;
    width: calc(100% / 10);
    height: 100%;
    margin: 0 -1px;
    text-align: center;
  }*/


  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
