html, body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 20px;
  text-align: center;
}

#container-game {
  border: 1px solid black;
  margin: 30px auto;
  padding: 50px;
  height: 400px;
  width: 950px;
  position: relative;
}

#board {}

.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.hidden {
  background: #000 !important;
}

.barman {
  background-image: url('../img/barman-mod.jpg');
  background-size: cover;
  height: 100px;
  width: 50px;
  position: absolute;
}

.beer {
  background-image: url('../img/beer-full.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 50px;
  position: absolute;
}
.beer.crash {
  background-image: url('../img/crash-beer.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 50px;
  position: absolute;
}

.client {
  background-image: url('../img/barney-no-beer.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 50px;
  position: absolute;
}
.client.hasbeer {
  background-image: url('../img/barney-has-beer2.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 50px;
  position: absolute;
}

.client.client-crash {
  background-image: url('../img/wtf.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 50px;
  position: absolute;
}
.row {
  border: 1px solid green;
  height: calc(100% / 4);
  width: 100%;
}

.row div {
  display: inline-block;
  border: 1px solid green;
  width: calc(100% / 10);
  height: 100%;
  /*height: calc(100% / 4);*/
  margin: 0 -1px;
  text-align: center;
}

.score span {}

.left {
  left: 0;
}

.right {
  right: 0;
}

button {}

#winner {}

#winner.hide {}
